#App-footer {
  display: flex;
  justify-content: space-around;
  padding: 3rem 0;
  font-weight: bolder;
  background-color: #e2ecff71;
}

#App-footer a {
  text-decoration: none;
  color: #020b59;
}
#App-footer p {
  text-align: center;
}
.margin-top {
  margin-top: 1rem;
}

@media screen and (max-width: 600px) {
  #App-footer div,
  #App-footer p {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 400px) {
  #App-footer div,
  #App-footer p {
    font-size: 0.5rem;
  }
}
