.Avatar {
  display: flex;
  justify-content: center;
}

.user_avatar {
  height: 70px;
  margin-top: 10px;
  max-width: 100px;
  max-height: 100px;
  border-radius: 150px;
}

.nombreusuario {
  margin-inline: 5px;
  color: #5d7ca6;
  font-weight: bold;
}
.welcome {
  padding: 20px 5px;
}
