form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.MuiFormControl-root {
  margin-top: 15px !important;
}

.MuiTextField-root {
  margin-top: 15px !important;
}

.MuiOutlinedInput-root {
  width: 300px !important;
}

.MuiButtonBase-root {
  width: 50px !important;
}
.MuiList-root {
  align-items: center !important;
  margin-left: 40px !important;
}

Muiinput-root {
  margin-bottom: 15px;
}
.enviardatos {
  border: 1px solid;
  background: #5d7ca6;
  font-size: medium;
  font-weight: bolder;
  align-items: center;
  width: 170px;
  height: 40px;
  color: white;
  margin-top: 10px;
}

.country {
  width: 200px !important;
}

/* 
#######################
## ELECIÓN DE TARIFA ##
#######################
*/

@media screen and (min-width: 400px) {
  .rate_card {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    max-width: 80%;
    margin: 0 auto;
  }
}
