.form_recover_pass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.envioemail {
  border: 1px solid;
  background: #5d7ca6;
  font-size: small;
  font-weight: bolder;
  align-items: center;
  width: 100px;
  height: 40px;
  color: white;
  margin-top: 20px;
}

.fraserecover {
  margin-bottom: 30px;
}
