.filter {
  padding-left: 3em !important;
  padding-right: 3em !important;
}

.filterContainer {
  background-color: white;
  box-shadow: 1px 1px 10px rgba(51, 49, 49, 0.399);
  padding: 1em;
  border-radius: 5px;
}

.flightInfoSearch {
  display: flex;
  justify-content: center;
}

.flightInfoSearch > * {
  background-color: #5d7ca6;
  padding: 1em;
}

.flightInfoSearch > .airports > div > span:first-child,
.flightInfoSearch > .dates > div > span:first-child {
  font-weight: bold;
}

.flightInfoSearch > .dates > div,
.flightInfoSearch > .airports > div {
  margin-top: 1em;
}

.scaleInput {
  width: 100%;
}

.scaleInput > * {
  width: 100%;
}
.filterContainer {
  padding: 1rem 3rem 1.5rem;
}
.filterContainer h1 {
  margin-bottom: 1rem;
}
