.delete {
  border: 1px solid;
  background: #ee0813;
  font-size: medium;
  font-weight: bolder;
  align-items: center;
  width: 170px;
  height: 40px;
  color: white;
  margin-top: 10px;
}
.deleteUsuarioContainer {
  padding: 2rem 7rem 0;
}
