.btn-passenger {
  display: block;
}

.passengerForm
  .MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-adornedEnd.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  justify-content: space-between;
}

.sectionForm {
  background-color: white;
  margin-bottom: 2em;
  padding-bottom: 2em;
  padding-top: 2em;
  padding-right: 1em;
  box-shadow: 1px 1px 10px rgba(204, 204, 204, 0.414);
  border-radius: 5px;
}

.sectionForm .input {
  width: 100%;
}
