.guardaravatar {
  border: 1px solid;
  background: var(--button-color);
  font-size: x-small;
  font-weight: bolder;
  align-items: center;
  width: 100px;
  height: 30px;
  color: white;
  margin-top: 10px;
}
.editavatarcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
