* {
  font-family: roboto;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  border-color: #023859;
}
#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  --button-color: #5d7ca6;

  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

body {
  overflow-x: hidden;
}
@media screen and (max-width: 550px) {
  #generalMain {
    padding: 2rem 0.2rem;
  }
}
@media screen and (min-width: 550px) {
  #generalMain {
    padding: 2rem 0.2rem;
  }
}

#mui-7-label {
  color: #023859;
}

.loginpagina {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}

.RecoverypassPagina {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}
