body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
html {
  background-color: #f7f6ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  min-height: 82vh;
}

.loginpagina {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}

.RecoverypassPagina {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}
