.App-logo {
  display: flex;
  height: 40px;

  margin: 10px;
  align-items: center;
}

.iniciosesion {
  border: 1px solid;
  background: #5d7ca6;
  font-size: 1rem;
  font-weight: bolder;
  align-items: center;
  width: 170px;
  color: white;
  margin-top: 10px;
  padding: 0.5rem 0;
  border-radius: 5px;
}

.App-header {
  display: flex;
  justify-content: space-between;
}

.avatar {
  margin-right: 10px;
}
